:root {
    --verde: rgb(7, 58, 0);
    --Alga-gris: rgb(88, 106, 131);
    --Alga-borde: hsl(211, 59%, 20%);
    --Salmon: rgb(225, 105, 71);
    --Salmon-claro: rgb(234, 174, 148);
    --Pepino: rgb(105, 166, 133);
    --Pepino-borde: rgb(23, 114, 79);
    --Arroz-gris: rgb(212, 215, 223);
    --Arroz-blanco: rgb(244, 241, 240);
    --Amarillo: rgb(241, 205, 117);
    --Sombras: rgb(159, 169, 187);
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Dongle', sans-serif;
    background: #E6D7BD;
    color: #382c1e;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
}
/*Sushis contenedores padres*/
.makisushi-01, .makisushi-02, .makisushi-03, .futomaki-01, .futomaki-02, .hosomaki-01, .hosomaki-02, .hosomaki-03, .hosomaki-04, .urakami-01, .urakami-02, .urakami-03, .nigiri-01, .nigiri-02, .oshizushi-01, .oshizushi-02, .oshizushi-03 {
    width: 50px;
    height: 50px;
    position: relative;
}
.sushi-container-02, .sushi-container-03, .sushi-container-04 {
    display: flex;
}
/* ---- Palillos header ---- */
header {
    width: 100%;
    /*
    background-color: #d2b48c;
    border: 2px solid rgb(18, 182, 67);
    */

}
h1 {
    margin-bottom: 20px;
    font-size: 50px;
}
.container-header {
    width: 900px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto 0 auto ;
}
.palillos-container {
    width: 375px;
    height: 100px;
    position: relative;
    margin: 0 auto 0 auto;
}
.tablita-palillos {
    position: absolute;
    background-color: #411b00;
    width: 30px;
    height: 52px;
    border-radius: 5px;
    left: 68%;
}
.palillo-01 {
    position: absolute;
    background-color: var(--verde);
    width: 300px;
    height: 10px;
    top: 10px;
    left: 10px;
    border-radius: 0 20px 20px 0;
}
.palillo-02 {
    position: absolute;
    background-color: var(--verde);
    width: 300px;
    height: 10px;
    top: 30px;
    left: 10px; 
    border-radius: 0 20px 20px 0;
}
.linea-blanca-01, .linea-blanca-02 {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: seashell;
    left: 80px;
}
.linea-rosa-01, .linea-rosa-02 {
    position: absolute;
    height: 100%;
    width: 260px;
    background-color: rgb(211, 155, 91);
    left: 90px;
    border-radius: 0 20px 20px 0;
}
/* ==== Main | Tipos de sushi ==== */
main {
    display: flex;
    margin-bottom: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid aqua;  */
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    column-gap: 80px;
    row-gap: 60px;
}
h2 {
    margin-top: 10px;
    font-size: 30px;
}
/* ---- Makisushi ----  Sushis con el alga por dentro */
.makisushi {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.makisushi .sushi-container-03 {
    height: 100%;
}
/* MAKISUSHI 01*/
.maki-salmon-top {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 15px;
    z-index: 4; 
}
.maki-lineas-top div img {
    width: 80px;
    height: 30px;
    border-radius: 0 3px 0 3px;
}
.maki-linea-bottom-01, .maki-linea-bottom-02, .maki-linea-bottom-03, .maki-linea-bottom-04 {
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: var(--Arroz-blanco);
}
.maki-linea-bottom-01 {
    left: 15px;
}
.maki-linea-bottom-02 {
    left: 32px;
}
.maki-linea-bottom-03 {
    left: 48px;
}
.maki-linea-bottom-04 {
    left: 64px;
}
.maki-salmon-bottom {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 15px;
    z-index: 3;
}
.maki-arroz {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 30px;
    z-index: 2;
}
.maki-sombra {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Sombras);
    border-radius: 5px;
    top: 32px;
    left: 12px;
    z-index: 1;
}
/* MAKISUSHI 02*/
.maki-02-linea-01, .maki-02-linea-02 {
    position: absolute;
    width: 3px;
    height: 22px;
    background-color: var(--Arroz-blanco);
    transform: rotate(50deg);
    z-index: 5;
}
.maki-02-linea-01 {
    top: -6px;
    left: 6px;
}
.maki-02-linea-02 {
    height: 27px;
    top: 0px;
    left: 12px;
}
.maki-02-salmon {
    position: absolute;
    top: 32px;
    left: 82px;
    width: 25px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--Salmon);
    z-index: 4;
}
.maki-02-arroz {
    position: absolute;
    top: 26px;
    left: 72px;
    width: 41px;
    height: 29px;
    border-radius: 100%;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    z-index: 3;
}
.maki-02-alga {
    position: absolute;
    top: 25px;
    left: 70px;
    width: 45px;
    height: 50px;
    border-radius: 28px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    z-index: 2;
}
.maki-02-sombra {
    position: absolute;
    top: 40px;
    left: 80px;
    width: 45px;
    height: 50px;
    border-radius: 60px;
    background-color: var(--Sombras);
    z-index: 1;
}
/* MAKISUSHI 03*/
.maki-03-salmon-claro01 {
    position: absolute;
    width: 40px;
    height: 24px;
    background-color: var(--Salmon-claro);
    border-radius: 50% 100% 0 0;
    top: 10px;
    z-index: 5;
}
.maki-03-salmon-claro02 {
    position: absolute;
    width: 40px;
    height: 24px;
    background-color: var(--Salmon-claro);
    border-radius: 100% 50% 0 0;
    top: 10px;
    left: 40px;
    z-index: 5;
}
.maki-03-salmon-obscuro {
    position: absolute;
    width: 79px;
    height: 30px;
    background-color: var(--Salmon);
    border-radius: 100% 100% 0 0;
    top: 4px;
    left: 2;
    z-index: 4;
}
.maki-03-alga {
    position: absolute;
    width: 80px;
    height: 34px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 140px;
    left: -60px;
    z-index: 3;
}
.maki-03-arroz {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 140px;
    left: -60px;
    z-index: 2;
}
.maki-03-sombra {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Sombras);
    border-radius: 5px;
    top: 155px;
    left: -45px;
    z-index: 1;
}
/* ---- Futomaki ----  Sushis gordos*/
.futomaki{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.futomaki .sushi-container-02 {
    height: 100%;
}
/* FUTOMAKI 01*/
.futo-alga-01 {
    position: absolute;
    width: 20px;
    height: 54px;
    background-color: var(--Alga-borde);
    top: 25px;
    left: 32px;
    z-index: 5;
}
.futo-trigo-top {
    position: absolute;
    width: 80px;
    height: 25px;
    background-color: var(--Amarillo);
    border-radius: 5px;
    border: 2px solid var(--Alga-borde);
    top: 25px;
    left: 0;
    z-index: 4;
}
.futo-trigo-bottom {
    position: absolute;
    width: 80px;
    height: 35px;
    background-color: var(--Amarillo);
    border-radius: 5px;
    border: 2px solid var(--Alga-borde);
    top: 25px;
    left: 0;
    z-index: 3;
}
.futo-arroz-01 {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Arroz-blanco);
    border-radius: 5px;
    border: 2px solid var(--Alga-borde);
    top: 25px;
    left: 0;
    z-index: 2;

}
.futo-sombra-01 {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Sombras);
    border-radius: 5px;
    top: 40px;
    left: 15px;
    z-index: 1;
}
/* FUTOMAKI 02*/
.futo-circle-small, .futo-circle-big {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4px auto 0 auto;
    width: 70px;
    height: 5px;
}
.futo-circle-big img{
    width: 6px;
    height: 6px;
    z-index: 5;
}
.futo-circle-small img{
    width: 3px;
    height: 3px;
    z-index: 5;
}
.futo-alga-02 {
    position: absolute;
    width: 80px;
    height: 25px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 145px;
    left: -15px;
    z-index: 4;
}
.futo-salmon {
    position: absolute;
    width: 80px;
    height: 35px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 145px;
    left: -15px;
    z-index: 3;
}
.futo-arroz-02 {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    top: 145px;
    left: -15px;
    z-index: 2;
}
.futo-sombra-02 {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: var(--Sombras);
    border-radius: 5px;
    top: 160px;
    left: 0;
    z-index: 1;
}
/* ---- Hosomaki ---- Sushi muy delgado con alga por fuera */
.hosomaki {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.hosomaki .sushi-container-04 {
    height: 100%;
}
/*HOSOMAKI 01*/
.hoso-01-ingrediente {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50px;
    left: 41px;
    background-color: var(--Pepino);
    border: 2px solid var(--Pepino-borde);
    border-radius: 100% 0 0 0;
    transform: rotate(50deg);
    z-index: 4;
}
.hoso-01-arroz {
    position: absolute;
    width: 41px;
    height: 30px;
    top: 46px;
    left: 27px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 3;
}
.hoso-01-alga {
    position: absolute;
    width: 45px;
    height: 43px;
    top: 45px;
    left: 25px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 2;
}
.hoso-01-sombra {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 60px;
    left: 40px;
    background-color: var(--Sombras);
    border-radius: 50%;
    z-index: 1;

}
/*HOSOMAKI 02*/
.pepino-hoso {
    position: absolute;
    width: 5px;
    height: 3px;
    border: 2px solid var(--Pepino-borde);
    border-radius: 100%;
    z-index: 4;
}
.hoso-pepino-01 {
    top: 52px;
    left: 90px;
}
.hoso-pepino-02 {
    top: 62px;
    left: 90px;
}
.hoso-pepino-03 {
    top: 57px;
    left: 82px;
}
.hoso-pepino-04 {
    top: 57px;
    left: 98px;
}
.hoso-02-arroz {
    position: absolute;
    width: 41px;
    height: 30px;
    top: 45px;
    left: 72px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 3;
}
.hoso-02-alga {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 45px;
    left: 70px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 2;
}
.hoso-02-sombra {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 60px;
    left: 80px;
    background-color: var(--Sombras);
    border-radius: 50%; 
    z-index: 1;
}
/*HOSOMAKI 03*/
.hoso-03-ingrediente {
    position: absolute;
    width: 2px;
    background-color: var(--Salmon);
    z-index: 4;
}
.hoso-linea-01 {
    height: 17px;
    top: 177px;
    left: 28px;
}
.hoso-linea-02 {
    height: 28px;
    top: 168px;
    left: 39px; 
}
.hoso-linea-03 {
    height: 17px;
    top: 170px;
    left: 49px;
}
.hoso-03-arroz {
    position: absolute;
    width: 41px;
    height: 28px;
    top: 166px;
    left: 17px;
    background-color: var(--Salmon-claro);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 3;
}
.hoso-03-alga {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 166px;
    left: 15px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 2;
}
.hoso-03-sombra {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 180px;
    left: 30px;
    background-color: var(--Sombras);
    border-radius: 50%;
    z-index: 1;
}
/*HOSOMAKI 04*/
.hoso-cuartito-01 {
    position: absolute;
    width: 16px;
    height: 14px;
    top: 176px;
    left: -108px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 4;
}
.hoso-cuartito-02 {
    position: absolute;
    width: 8px;
    height: 6px;
    top: 176px;
    left: -109px;
    background-color: var(--Amarillo);
    border: 2px solid var(--Alga-borde);
    border-radius: 100% 0 0 0;
    z-index: 5;
}
.hoso-cuartito-03 {
    position: absolute;
    width: 8px;
    height: 6px;
    top: 184px;
    left: -109px;
    background-color: var(--Pepino);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 0 100%;
    z-index: 5;
}
.hoso-04-arroz {
    position: absolute;
    width: 41px;
    height: 28px;
    top: 168px;
    left: -120px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 3;
}
.hoso-04-alga {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 168px;
    left: -122px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 50%;
    z-index: 2;
}
.hoso-04-sombra {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 180px;
    left: -110px;
    background-color: var(--Sombras);
    border-radius: 50%;
    z-index: 1;
}
/* ---- Urakami ---- Sushi normal, con alga por fuera */
.urakami {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.urakami .sushi-container-03 {
    height: 100%;
}
/*URAKAMI 01*/
.pepino-ura {
    position: absolute;
    width: 3px;
    height: 2px;
    border: 2px solid var(--Pepino-borde);
    border-radius: 100%;
    z-index: 8;
}
.ura-01-pepino-01 {
    top: 70px;
    left: 29px;
}
.ura-01-pepino-02 {
    top: 74px;
    left: 34px;
}
.ura-01-pepino-03 {
    top: 74px;
    left: 24px;
}
.ura-01-pepino-04 {
    top: 78px;
    left: 29px;
}
.ura-01-ingrediente {
    position: absolute;
    width: 28px;
    height: 20px;
    top: 67px;
    left: 18px;
    background-color: var(--Salmon);
    border-radius: 100%;
    z-index: 7; 
}
.ura-01-arroz {
    position: absolute;
    width: 44px;
    height: 32px;
    top: 60px;
    left: 8px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 6;
}
.ura-01-parche {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 77px;
    left: 7px;
    background-color: var(--Alga-gris);
    border-radius: 7px;
    z-index: 5;
}
.ura-01-alga-top {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 5px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 4;
}
.ura-01-alga-cuadro {
    position: absolute;
    width: 50px;
    height: 20px;
    top: 87px;
    left: 5px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    z-index: 3;
}
.ura-01-alga-bottom {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 85px;
    left: 5px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 2; 
}
.ura-01-sombra {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 20px;
    background-color: var(--Sombras);
    border-radius: 100%;
    z-index: 1;
}
/*URAKAMI 02*/
.ura-02-linea-01, .ura-02-linea-02 {
    position: absolute;
    width: 3px;
    height: 26px;
    background-color: var(--Arroz-blanco);
    transform: rotate(45deg);
    z-index: 8;
}
.ura-02-linea-01 {
    top: 63px;
    left: 80px;
}
.ura-02-linea-02 {
    top: 68px;
    left: 90px;
}
.ura-02-ingrediente {
    position: absolute;
    width: 28px;
    height: 22px;
    top: 67px;
    left: 73px;
    background-color: var(--Salmon);
    border-radius: 100%;
    z-index: 7;
}
.ura-02-arroz {
    position: absolute;
    width: 44px;
    height: 34px;
    top: 60px;
    left: 63px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 6;
}
.ura-02-parche {
    position: absolute;
    width: 50px;
    height: 40px;
    top: 80px;
    left: 62px;
    background-color: var(--Alga-gris);
    border-radius: 7px;
    z-index: 5;
}
.ura-02-alga-top {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 60px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 4;
}
.ura-02-alga-cuadro {
    position: absolute;
    width: 50px;
    height: 18px;
    top: 88px;
    left: 60px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    z-index: 3;
}
.ura-02-alga-bottom {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 85px;
    left: 60px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 2;
}
.ura-02-sombra {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 75px;
    background-color: var(--Sombras);
    border-radius: 100%;
    z-index: 1;
}
/*URAKAMI 03*/
.ura-03-trigo {
    position: absolute;
    width: 11px;
    height: 9px;
    top: 184px;
    left: 3px;
    background-color: var(--Amarillo);
    border-radius: 0 0 50px 0;
    z-index: 9; 
}
.ura-03-zanahoria {
    position: absolute;
    width: 11px;
    height: 10px;
    top: 174px;
    left: 3px;
    background-color: var(--Salmon);
    border-radius: 0 60px 0 0;
    z-index: 8;
}
.ura-03-pepino {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 172px;
    left: -13px;
    background-color: var(--Pepino);
    border: 2px solid var(--Pepino-borde);
    border-radius: 100%;
    z-index: 7;
}
.ura-03-arroz {
    position: absolute;
    width: 44px;
    height: 34px;
    top: 166px;
    left: -22px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 6;
}
.ura-03-parche {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 192px;
    left: -23px;
    background-color: var(--Alga-gris);
    border-radius: 0 0 10px 10px;
    z-index: 5;
}
.ura-03-alga-top {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 166px;
    left: -25px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 4;
}
.ura-03-alga-cuadro {
    position: absolute;
    width: 50px;
    height: 14px;
    top: 192px;
    left: -25px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    z-index: 3;
}
.ura-03-alga-bottom {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 184px;
    left: -25px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 100%;
    z-index: 2;
}
.ura-03-sombra {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 200px;
    left: -15px;
    background-color: var(--Sombras);
    border-radius: 100%;
    z-index: 1;
}
/* ---- Nigiri ---- Arroz con salmoun arriba*/
/*NIGIRI 01*/
.nigiri {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.nigiri .sushi-container-02 {
    height: 100%;
}
.nigi-parche-top-01 {
    position: absolute;
    width: 20px;
    height: 12px;
    left: 102px;
    top: 66px;
    background-color: var(--Salmon);
    z-index: 19;
}
.nigi-salmon-borde-01 {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 55px;
    left: 25px;
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 8;
}
.nigi-linea-top-01, .nigi-linea-top-02, .nigi-linea-top-03, .nigi-linea-top-04, .nigi-linea-top-05, .nigi-linea-top-06 {
    position: absolute;
    width: 3px;
    height: 23px;
    top: -5px;
    background-color: var(--Arroz-blanco);
    border-radius: 5px 0 0 0;
    transform: rotate(45deg);
    z-index: 7;
}
.nigi-linea-horizontal-01 {
    position: absolute;
    width: 95px;
    height: 3px;
    top: 70px;
    left: 27px;
    background-color: var(--Arroz-blanco);
    z-index: 20;
}
.nigi-linea-top-bottom-01, .nigi-linea-top-bottom-02, .nigi-linea-top-bottom-03, .nigi-linea-top-bottom-04, .nigi-linea-top-bottom-05, .nigi-linea-top-bottom-06 {
    position: absolute;
    width: 3px;
    height: 23px;
    top: 12px;
    background-color: var(--Arroz-blanco);
    border-radius: 0 0 0 10px;
    transform: rotate(-45deg);
    z-index: 7;
}
.nigi-linea-top-bottom-01, .nigi-linea-top-01 {
    left: 7px;
}
.nigi-linea-top-bottom-02, .nigi-linea-top-02 {
    left: 19px;
}
.nigi-linea-top-bottom-03, .nigi-linea-top-03 {
    left: 32px;
}
.nigi-linea-top-bottom-04, .nigi-linea-top-04 {
    left: 45px;
}
.nigi-linea-top-bottom-05, .nigi-linea-top-05 {
    left: 58px;
}
.nigi-linea-top-bottom-06, .nigi-linea-top-06 {
    left: 70px;
}
.nigi-circle-top-top-01 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -2px;
    left: 78px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 100% 0 0 0;
    z-index: 5;
}
.nigi-circle-top-bottom-01 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 78px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 0 100%;
    z-index: 5;
}
.nigi-salmon-top-01 {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 55px;
    left: 25px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 5;
}
.nigi-linea-bottom-01, .nigi-linea-bottom-02, .nigi-linea-bottom-03, .nigi-linea-bottom-04, .nigi-linea-bottom-05 {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: var(--Arroz-blanco);
    z-index: 4;
}
.nigi-linea-bottom-01 {
    left: 13px;
    top: 32px;
}
.nigi-linea-bottom-02 {
    left: 26px;
    top: 32px;
}
.nigi-linea-bottom-03 {
    left: 39px;
    top: 32px;
}
.nigi-linea-bottom-04 {
    left: 52px;
    top: 32px;
}
.nigi-linea-bottom-05 {
    left: 65px;
    top: 32px;
}
.nigi-circle-bottom-01 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 21px;
    left: 78px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 0 100%;
    z-index: 3;
}
.nigi-salmon-bottom-01 {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 55px;
    left: 25px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 3;
}
.nigi-arroz-01 {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 65px;
    left: 25px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 2;
}
.nigi-sombra-01 {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 80px;
    left: 40px;
    background-color: var(--Sombras);
    border-radius: 5px;
    z-index: 1;
}
/*NIGIRI 02*/
.nigi-camaron-top-01 {
    position: absolute;
    width: 80px;
    height: 13px;
    top: 185px;
    left: -25px;
    background-color: var(--Salmon-claro);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 4; 
}
.nigi-camaron-top-02 {
    position: absolute;
    width: 80px;
    height: 13px;
    top: 200px;
    left: -25px;
    background-color: var(--Salmon-claro);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 4;
}
.nigi-cola-top-circles-01 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: auto;
    top: 204px;
    left: -24px;
    z-index: 8;
}
.nigi-cola-top-circles-01 img{
    width: 5px;
    height: auto;
}
.nigi-cola-parche-01 {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 205px;
    left: 53px;
    background-color: var(--Salmon);
    border-radius: 30px 0 0 30px;
    z-index: 5;
}
.nigi-cola-top-01 {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 203px;
    left: 55px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 30px 0 0 30px;
    z-index: 4;
}
.nigi-cola-top-circles-02 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: auto;
    top: 189px;
    left: -24px;
    z-index: 8;
}
.nigi-cola-top-circles-02 img{
    width: 5px;
    height: auto;
}
.nigi-cola-parche-02 {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 189px;
    left: 53px;
    background-color: var(--Salmon);
    border-radius: 30px 0 0 30px;
    z-index: 5;
}
.nigi-cola-top-02 {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 187px;
    left: 55px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 30px 0 0 30px;
    z-index: 4;
}
.nigi-camaron-bottom {
    position: absolute;
    width: 80px;
    height: 36px;
    top: 185px;
    left: -25px;
    background-color: var(--Salmon-claro);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 3;
}
.nigi-cola-bottom-01 {
    position: absolute;
    width: 12px;
    height: 8px;
    top: 210px;
    left: 55px;
    background-color: var(--Salmon);
    border: 2px solid var(--Alga-borde);
    border-radius: 30px 0 0 30px;
    z-index: 2;
}
.nigi-arroz-02 {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 185px;
    left: -25px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 5px;
    z-index: 2;
}
.nigi-sombra-02 {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 200px;
    left: -10px;
    background-color: var(--Sombras);
    border-radius: 5px;
    z-index: 1;
}
/* ---- Oshizushi ---- Sushi cuadrado */
.oshizushi {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}
.oshizushi .sushi-container-03 {
    height: 100%;
}
/*OSHIZUSHI 01*/
.oshi-01-ingrediente-01 {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 82px;
    left: 18px;
    background-color: var(--Salmon);
    border-radius: 0 0 40px 0;
    transform: skewY(20deg);
    z-index: 9;
}
.oshi-01-ingrediente-02 {
    position: absolute;
    width: 16px;
    height: 18px;
    top: 91px;
    left: 24px;
    background-color: var(--Amarillo);
    border-radius: 20px 0 0 0;
    transform: skewY(20deg);
    z-index: 8;
}
.oshi-01-ingrediente-03 {
    position: absolute;
    width: 22px;
    height: 25px;
    top: 81px;
    left: 16px;
    background-color: var(--Pepino);
    border: 2px solid var(--Pepino-borde);
    transform: skewY(20deg);
    z-index: 7;
}
.oshi-01-linea-parche-02 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 69px;
    left: 63px;
    background-color: var(--Alga-gris);
    border-radius: 0 0px 0 0;
    transform: skewy(18deg);
    z-index: 6;
}
.oshi-01-linea-parche-01 {
    position: absolute;
    width: 3px;
    height: 22px;
    top: 65px;
    left: 56px;
    background-color: var(--Alga-gris);
    transform: rotate(60deg);
    border-radius: 0 2px 0 2px;
    z-index: 5;
}
.oshi-01-arroz {
    position: absolute;
    width: 34px;
    height: 40px;
    top: 74px;
    left: 10px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 1px 0 2px 0;
    transform: skewY(20deg);
    z-index: 4;
}
.oshi-01-top-container {
    position: absolute;
    transform: rotate(20deg);
    z-index: 3;
}
.oshi-01-top {
    position: absolute;
    width: 38px;
    height: 17px;
    top: 40px;
    left: 40px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 3px 0 3px;
    transform: skew(-40deg);
}
.oshi-01-right {
    position: absolute;
    width: 20px;
    height: 40px;
    top: 75px;
    left: 46px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 0 3px;
    transform: skewY(-30deg);
    z-index: 2;
}
.oshi-01-sombra {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 95px;
    left: 52px;
    background-color: var(--Sombras);
    transform: skew(-20deg);
    z-index: 1;
}
/*OSHIZUSHI 02*/
.oshi-02-ingrediente-01 {
    position: absolute;
    width: 2px;
    height: 13px;
    top: 83px;
    left: 93px;
    background-color: var(--Salmon);
    border-radius: 4px;
    z-index: 8;
}   
.oshi-02-ingrediente-02 {
    position: absolute;
    width: 2px;
    height: 13px;
    top: 94px;
    left: 81px;
    background-color: var(--Salmon);
    border-radius: 4px;
    z-index: 8;
}
.oshi-02-ingrediente-03 {
    position: absolute;
    width: 2px;
    height: 26px;
    top: 82px;
    left: 87px;
    background-color: var(--Salmon);
    z-index: 8;
}
.oshi-02-ingrediente-04 {
    position: absolute;
    width: 22px;
    height: 25px;
    top: 81px;
    left: 76px;
    background-color: var(--Salmon-claro);
    border: 2px solid var(--Salmon);
    border-radius: 6px 0 6px 0;
    transform: skewY(20deg);
    z-index: 7;
}
.oshi-02-linea-parche-01 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 69px;
    left: 123px;
    background-color: var(--Alga-gris);
    border-radius: 0 0px 0 0;
    transform: skewY(18deg);
    z-index: 6;
}
.oshi-02-linea-parche-02 {
    position: absolute;
    width: 3px;
    height: 22px;
    top: 65px;
    left: 116px;
    background-color: var(--Alga-gris);
    transform: rotate(60deg);
    border-radius: 2px 1px 0 2px;
    z-index: 5;
}
.oshi-02-arroz {
    position: absolute;
    width: 34px;
    height: 40px;
    top: 74px;
    left: 70px;
    background-color: var(--Arroz-blanco);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 0 0;
    transform: skewY(20deg);
    z-index: 4;
}
.oshi-02-top-container {
    position: absolute;
    transform: rotate(20deg);
    z-index: 3;
}
.oshi-02-top {
    position: absolute;
    width: 38px;
    height: 17px;
    top: 20px;
    left: 96px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 2px 0 3px;
    transform: skew(-40deg);
}
.oshi-02-right {
    position: absolute;
    width: 20px;
    height: 40px;
    top: 75px;
    left: 106px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 2px 0 3px;
    transform: skewY(-30deg);
    z-index: 2;
}
.oshi-02-sombra {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 94px;
    left: 110px;
    background-color: var(--Sombras);
    transform: skew(-20deg);
    z-index: 1;
}
/*OSHIZUSHI 03*/
.oshi-03-ingrediente-01 {
    position: absolute;
    width: 26px;
    height: 2px;
    top: 185px;
    left: -12px;
    background-color: var(--Arroz-blanco);
    z-index: 7;
}
.oshi-03-ingrediente-02 {
    position: absolute;
    width: 26px;
    height: 2px;
    top: 194px;
    left: -12px;
    background-color: var(--Arroz-blanco);
    z-index: 7;
}
.oshi-03-ingrediente-03 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 181px;
    left: -9px;
    background-color: var(--Salmon);
    border-radius: 4px;
    transform: rotate(-45deg) skew(15deg, 15deg);
    z-index: 6;
}
.oshi-03-arroz {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 177px;
    left: -14px;
    background-color: var(--Arroz-blanco);
    /*    border: 2px solid var(--Alga-borde);*/
    transform: rotate(-45deg) skew(15deg, 15deg);
    z-index: 5;
}
.oshi-03-linea-parche-01, .oshi-03-linea-parche-02, .oshi-03-linea-parche-03, .oshi-03-linea-parche-04, .oshi-03-linea-parche-05 {
    position: absolute;
    background-color: var(--Alga-gris);
    z-index: 4;
}
.oshi-03-linea-parche-01 {
    width: 10px;
    height: 10px;
    top: 190px;
    left: 22px;
    border-radius: 0 4px 0 0;
}
.oshi-03-linea-parche-02 {
    width: 10px;
    height: 10px;
    top: 190px;
    left: -30px;
    border-radius: 4px 0 0 0;
}
.oshi-03-linea-parche-03 {
    width: 10px;
    height: 10px;
    top: 240px;
    left: -4px;
    border-radius: 0 0 2px 0;
    transform: rotate(45deg);
}
.oshi-03-linea-parche-04 {
    width: 44px;
    height: 30px;
    top: 190px;
    left: -20px;

}
.oshi-03-linea-parche-05 {
    width: 10px;
    height: 30px;
    top: 214px;
    left: -4px;
}
.oshi-03-top {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 172px;
    left: -18px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 2px 0 2px 2px;
    transform: rotate(-45deg) skew(15deg, 15deg);
    z-index: 3;
}
.oshi-03-right {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 200px;
    left: 0px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 3px 2px;
    transform: skewY(-30deg);
    z-index: 2;
}
.oshi-03-left {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 200px;
    left: -32px;
    background-color: var(--Alga-gris);
    border: 2px solid var(--Alga-borde);
    border-radius: 0 0 2px 3px;
    transform: skewy(30deg);
    z-index: 2;
}
.oshi-03-sombra {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 222px;
    left: 3px;
    background-color: var(--Sombras);
    transform: skew(-20deg);
    z-index: 1;
}

/* ---- FOOTER ---- */
footer {
    width: 100%;
    height: 100%;
    background-color: #d2b48c;
    display: flex;
    flex-direction: column;
    border-top: 4px solid hsl(34, 38%, 60%);
    font-size: 28px;
}
.footer-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img {
    width: 40px;
    height: 40px;
}
.footer-links {
    margin-bottom: 20px;
}
.footer-links ul li {
    list-style: none;
}
.footer-links ul li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}
.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-social a{
    text-decoration: none;
}
.footer-social img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.footer-copy {
    color: whitesmoke;
    margin-bottom: 20px;
}
/* =-=-=-= Media Queries =-=-=-=*/
@media (max-width: 900px){
    main {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px 300px; 
        column-gap: 30px;
    }
    h1 {
        font-size: 45px;
    }
    .container-header {
        width: 700px;
    }
    footer {
        width: 100%;
        height: 100%;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
        border-top: 4px solid hsl(34, 38%, 60%);
    }
    .footer-logo img {
        width: 40px;
        height: 40px;
    }
    .footer-links {
        margin-bottom: 20px;
    }
    .footer-social img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .footer-copy {
        margin-bottom: 20px;
    }
}
@media (max-width: 630px) {
    main {
        display: grid;
        grid-template-columns: 300px ;
        grid-template-rows: repeat(6, 300px); 
    }
    h1 {
        font-size: 30px;
    }
    .container-header {
        width: 370px;
    }
    footer {
        width: 100%;
        height: 100%;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
        border-top: 4px solid hsl(34, 38%, 60%);
    }
    .footer-sections {
        flex-direction: column;
    }
    .footer-logo img {
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-links {
        margin-bottom: 20px;
    }
    .footer-social img {
        width: 40px;
        height: 40px;
        margin: 20px 10px 20px 10px;
    }
    .footer-copy {
        margin-bottom: 20px;
    }

}